

header{
    background-color: black;
    width: 100%;
    display: inline-block;
}
header nav{
    width: 50%;
    float: right;
    margin-top: -3%;
}
header nav ul li {
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    list-style: none;
    color: white;
    float: right;
    width: 20%;
    border: 1px solid white;
    padding: 1%;  
    border-radius: 10px;    
}
header nav ul li a {
    text-decoration: none;    
    color: white;
    text-align: center;    
}
header nav ul li:hover {
    background-color: gray;
}
header nav ul li:active {
    box-shadow: 0px 0px 10px white;
}
header h1
{
    color: white;
    text-align: center;
}
header h3
{
    color: white;
    text-align: center;
}
main h1{
    text-align: center;
    
}
main h2{
    text-align: center;
   
}
main h3{
    text-align: center;
}
main h4{
    text-align: center;
}
.visual-Argumento {
    width: 100%;
  
    display: grid;
    grid:
      "imagen ." 1fr
      ". ." 1.5fr
      ". ." 0fr
      / 1.5fr 2fr;
    gap: 3px;
  }
  .visual-Argumento h2
  {
    text-align: center;
  }
  


.botones {
    padding: 1%;
    margin-left: -1%;
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
    height: 20%; 
}

.botones div {
    background-color: rgb(179, 172, 172);
    text-align: center;
    border-radius: 50%;
    width: 20%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones div a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 240%;
}

.beneficios {
    width: 100%;
  
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
  }
  .beneficios div
  {
background-color: rgb(204, 31, 31);

  }
.beneficios div h3
{
    text-align: center;
}

.Pruebas-Sociales {
    width: 101%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
    gap: 8px;
    
  }
 
  .Pruebas-Sociales div
  {
 display: flex;
    flex-direction: column;
    align-items: center;
  

    margin-top: 2%;
    border-radius: 10%;
    margin-bottom: 2%;
    background: white;
    border-radius: 0%;
    box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.06);
  }

.Pruebas-Sociales h1
{
    text-align: center;

}




footer{
    background-color: black;
    display: inline-block;
    width: 100%;
}


footer section div img{
    width: 2.5%;
    height: auto;
    float: left;
    padding-bottom: 1%;    
    padding-left: 4%;
    padding-top: 2.5%;
}


footer section div h2{
    color: white;
    text-align: center;  
    float: left;
    padding-top: 2%;
    font-size: larger;
}


footer section .logoFooter img{
    width: 6%;
    height: auto;
    float: right;
    padding-bottom: 1%;    
    padding-right: 1%;
    padding-top: 1.5%;
}
